In [1]:
import tabula
import pandas as pd
import os
import datetime
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error 
import math
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import statsmodels.api as sm
import matplotlib
#pd.options.display.max_rows = 20000
#pd.options.display.max_columns = 10000

In [2]:
# path for files
path = os.getcwd() + '/data/excel/'
filenames = os.listdir(path)
# create empty dataframes
df_excel = pd.DataFrame(columns=['Date', 'School', 'Group', 'Grade', 'Enrolled'])
df_pdf = pd.DataFrame()

# count variable to count the number of files
count_excel = 0
count_pdf = 0
count_err = 0
sheets = pd.ExcelFile(path + filenames[0]).book.sheets()
for sheet in sheets:
    # check if there is a hidden sheet and its name isn't 'Enrollment Graphs'
    if ((sheet.visibility == 0) & (sheet.name != 'Enrollment Graphs')):

        # read each sheet as a panda dataframe
        temp = pd.read_excel(path + filenames[0], header=2, sheet_name=sheet.name)

        # convert all column names into lowercase
        temp.columns = [str(x).lower() for x in temp.columns]

        # columns of the dataframe from the sheet
        cols = temp.columns
        
#         df_excel['School'] = temp[cols[0]]
#         df_excel['Date'] = filenames[0][:10]
#         df_excel['Date'] = df_excel['Date'].str.replace(".", "-")
#         df_excel['Date'] = pd.to_datetime(df_excel['Date'])
#         # campus name which is the first column in the dataframe
#         campus_colname = cols[0]

#         # cumulative column name
#         cum_colname = [col for col in [str(col).lower() for col in cols] if col.startswith('cum')][0]

#         # projected column name
#         pro_colname= [col for col in [str(col).lower() for col in cols] if 'proj' in col][0]

#         # select columns we want from the dataframe
#         temp = temp[[campus_colname, cum_colname, pro_colname]]

#         # change column names
#         temp.columns = ['Campus', 'Cumulative', 'Projected']

#         # get date from filenames and convert to datetime object
#         temp['Date'] = filenames[0][:10]

#         # change a filename with '.' instead of '-'
#         temp['Date'] = temp['Date'].str.replace(".", "-")

#         # change Date column into datetime object
#         temp['Date'] = pd.to_datetime(temp['Date'])

#         # remove unnecessary rows (total, campus - header rows)
#         temp = temp[temp['Campus'].str.contains('tota|campus', case=False, regex=True) != True]

#         # append each temp dataframes(sheets) to df
#         #df_excel = df_excel.append(temp, sort=False)

In [3]:
# preview of excel file we load
temp.head()

,campus,ece,pk,k,1,2,3,4,5,6,...,total,cumulative,2016-17 projected,difference,2015-08-01 00:00:00,2016-06-01 00:00:00,unnamed: 22,unnamed: 23,prior entry,prior w/d
0,Anderson Mill,0.0,16.0,60.0,53.0,55.0,59.0,44.0,55.0,NaN,...,342.0,506.0,522.0,-16.0,481.0,326.0,NaN,NaN,50.0,56.0
1,Anderson Mill Non-LEP DL,0.0,0.0,6.0,7.0,5.0,1.0,6.0,5.0,NaN,...,30.0,NaN,NaN,NaN,NaN,26.0,NaN,NaN,0.0,NaN
2,Anderson Mill/ESOL,0.0,19.0,3.0,4.0,6.0,5.0,5.0,5.0,NaN,...,47.0,NaN,NaN,NaN,NaN,62.0,NaN,NaN,0.0,NaN
3,Anderson Mill Bilingual,0.0,13.0,9.0,15.0,12.0,14.0,14.0,10.0,NaN,...,87.0,NaN,NaN,NaN,NaN,103.0,NaN,NaN,0.0,NaN
4,Berkman/Regular,0.0,37.0,28.0,37.0,30.0,37.0,36.0,36.0,NaN,...,241.0,457.0,491.0,-34.0,462.0,280.0,NaN,NaN,54.0,65.0

In [4]:
# tested iterrows()
# for index, row in temp.iterrows():

In [5]:
filenames[0][:10]

'2017-02-07'

In [6]:
# create an empty df
df = pd.DataFrame()
# just grades
grades = ['ECE', 'PK', 'K', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [7]:
# columns, 
df['School'] = temp['campus']
df['Date'] = filenames[0][:10]
df['Enrolled'] = 0
df['Group'] = 'Not Yet'
df['Grade'] = 'Grade'

In [8]:
# create 14 more rows for each school (so we can have 15 grades)
df = df.append([df]*14,ignore_index=True)

In [9]:
# sort by school name and reset index
df = df.sort_values(by=['School'])
df.reset_index(inplace=True, drop=True)

In [10]:
df

                       School        Date  Enrolled    Group  Grade
0               Anderson Mill  2017-02-07         0  Not Yet  Grade
1               Anderson Mill  2017-02-07         0  Not Yet  Grade
2               Anderson Mill  2017-02-07         0  Not Yet  Grade
3               Anderson Mill  2017-02-07         0  Not Yet  Grade
4               Anderson Mill  2017-02-07         0  Not Yet  Grade
5               Anderson Mill  2017-02-07         0  Not Yet  Grade
6               Anderson Mill  2017-02-07         0  Not Yet  Grade
7               Anderson Mill  2017-02-07         0  Not Yet  Grade
8               Anderson Mill  2017-02-07         0  Not Yet  Grade
9               Anderson Mill  2017-02-07         0  Not Yet  Grade
10              Anderson Mill  2017-02-07         0  Not Yet  Grade
11              Anderson Mill  2017-02-07         0  Not Yet  Grade
12              Anderson Mill  2017-02-07         0  Not Yet  Grade
13              Anderson Mill  2017-02-07         0  Not Yet  Grade
14              Anderson Mill  2017-02-07         0  Not Yet  Grade
15    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
16    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
17    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
18    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
19    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
20    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
21    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
22    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
23    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
24    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
25    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
26    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
27    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
28    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
29    Anderson Mill Bilingual  2017-02-07         0  Not Yet  Grade
...                       ...         ...       ...      ...    ...
2250                      NaN  2017-02-07         0  Not Yet  Grade
2251                      NaN  2017-02-07         0  Not Yet  Grade
2252                      NaN  2017-02-07         0  Not Yet  Grade
2253                      NaN  2017-02-07         0  Not Yet  Grade
2254                      NaN  2017-02-07         0  Not Yet  Grade
2255                      NaN  2017-02-07         0  Not Yet  Grade
2256                      NaN  2017-02-07         0  Not Yet  Grade
2257                      NaN  2017-02-07         0  Not Yet  Grade
2258                      NaN  2017-02-07         0  Not Yet  Grade
2259                      NaN  2017-02-07         0  Not Yet  Grade
2260                      NaN  2017-02-07         0  Not Yet  Grade
2261                      NaN  2017-02-07         0  Not Yet  Grade
2262                      NaN  2017-02-07         0  Not Yet  Grade
2263                      NaN  2017-02-07         0  Not Yet  Grade
2264                      NaN  2017-02-07         0  Not Yet  Grade
2265                      NaN  2017-02-07         0  Not Yet  Grade
2266                      NaN  2017-02-07         0  Not Yet  Grade
2267                      NaN  2017-02-07         0  Not Yet  Grade
2268                      NaN  2017-02-07         0  Not Yet  Grade
2269                      NaN  2017-02-07         0  Not Yet  Grade
2270                      NaN  2017-02-07         0  Not Yet  Grade
2271                      NaN  2017-02-07         0  Not Yet  Grade
2272                      NaN  2017-02-07         0  Not Yet  Grade
2273                      NaN  2017-02-07         0  Not Yet  Grade
2274                      NaN  2017-02-07         0  Not Yet  Grade
2275                      NaN  2017-02-07         0  Not Yet  Grade
2276                      NaN  2017-02-07         0  Not Yet  Grade
2277                      NaN  2017-02-07         0  Not Yet  Grade
2278                      NaN  2017-02-07         0  Not Yet  Grade
2279                      NaN  2017-02-07         0  Not Yet  Grade

[2280 rows x 5 columns]

In [11]:
# grades
for i in range(len(df)):
    idx = i % 15
    df.loc[i, 'Grade'] = grades[idx]

In [12]:
df

                       School        Date  Enrolled    Group Grade
0               Anderson Mill  2017-02-07         0  Not Yet   ECE
1               Anderson Mill  2017-02-07         0  Not Yet    PK
2               Anderson Mill  2017-02-07         0  Not Yet     K
3               Anderson Mill  2017-02-07         0  Not Yet     1
4               Anderson Mill  2017-02-07         0  Not Yet     2
5               Anderson Mill  2017-02-07         0  Not Yet     3
6               Anderson Mill  2017-02-07         0  Not Yet     4
7               Anderson Mill  2017-02-07         0  Not Yet     5
8               Anderson Mill  2017-02-07         0  Not Yet     6
9               Anderson Mill  2017-02-07         0  Not Yet     7
10              Anderson Mill  2017-02-07         0  Not Yet     8
11              Anderson Mill  2017-02-07         0  Not Yet     9
12              Anderson Mill  2017-02-07         0  Not Yet    10
13              Anderson Mill  2017-02-07         0  Not Yet    11
14              Anderson Mill  2017-02-07         0  Not Yet    12
15    Anderson Mill Bilingual  2017-02-07         0  Not Yet   ECE
16    Anderson Mill Bilingual  2017-02-07         0  Not Yet    PK
17    Anderson Mill Bilingual  2017-02-07         0  Not Yet     K
18    Anderson Mill Bilingual  2017-02-07         0  Not Yet     1
19    Anderson Mill Bilingual  2017-02-07         0  Not Yet     2
20    Anderson Mill Bilingual  2017-02-07         0  Not Yet     3
21    Anderson Mill Bilingual  2017-02-07         0  Not Yet     4
22    Anderson Mill Bilingual  2017-02-07         0  Not Yet     5
23    Anderson Mill Bilingual  2017-02-07         0  Not Yet     6
24    Anderson Mill Bilingual  2017-02-07         0  Not Yet     7
25    Anderson Mill Bilingual  2017-02-07         0  Not Yet     8
26    Anderson Mill Bilingual  2017-02-07         0  Not Yet     9
27    Anderson Mill Bilingual  2017-02-07         0  Not Yet    10
28    Anderson Mill Bilingual  2017-02-07         0  Not Yet    11
29    Anderson Mill Bilingual  2017-02-07         0  Not Yet    12
...                       ...         ...       ...      ...   ...
2250                      NaN  2017-02-07         0  Not Yet   ECE
2251                      NaN  2017-02-07         0  Not Yet    PK
2252                      NaN  2017-02-07         0  Not Yet     K
2253                      NaN  2017-02-07         0  Not Yet     1
2254                      NaN  2017-02-07         0  Not Yet     2
2255                      NaN  2017-02-07         0  Not Yet     3
2256                      NaN  2017-02-07         0  Not Yet     4
2257                      NaN  2017-02-07         0  Not Yet     5
2258                      NaN  2017-02-07         0  Not Yet     6
2259                      NaN  2017-02-07         0  Not Yet     7
2260                      NaN  2017-02-07         0  Not Yet     8
2261                      NaN  2017-02-07         0  Not Yet     9
2262                      NaN  2017-02-07         0  Not Yet    10
2263                      NaN  2017-02-07         0  Not Yet    11
2264                      NaN  2017-02-07         0  Not Yet    12
2265                      NaN  2017-02-07         0  Not Yet   ECE
2266                      NaN  2017-02-07         0  Not Yet    PK
2267                      NaN  2017-02-07         0  Not Yet     K
2268                      NaN  2017-02-07         0  Not Yet     1
2269                      NaN  2017-02-07         0  Not Yet     2
2270                      NaN  2017-02-07         0  Not Yet     3
2271                      NaN  2017-02-07         0  Not Yet     4
2272                      NaN  2017-02-07         0  Not Yet     5
2273                      NaN  2017-02-07         0  Not Yet     6
2274                      NaN  2017-02-07         0  Not Yet     7
2275                      NaN  2017-02-07         0  Not Yet     8
2276                      NaN  2017-02-07         0  Not Yet     9
2277                      NaN  2017-02-07         0  Not Yet    10
2278                      NaN  2017-02-07         0  Not Yet    11
2279                      NaN  2017-02-07         0  Not Yet    12

[2280 rows x 5 columns]

In [13]:
# enrollment
for i in range(len(df)):
    school = df['School'][i]
    grade = df['Grade'][i].lower()
    enroll = temp[temp['campus'] == school][grade].values[0]
    df.loc[i, 'Enrolled'] = enroll

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
df